---
title: "AsciiArt"
<script type="module" src="../../../scripts/fun/ascii-art.js"></script>
<script type="module" src="../../../scripts/fun/fun.js"></script>
description: "Online tool for ascii art"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/fun/ascii-art"
---
<h1>AsciiArt</h1>
<script type="module" src="../../../scripts/fun/ascii-art.js"></script>
<script type="module" src="../../../scripts/fun/fun.js"></script>

<p>Welcome to the ascii art tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

