---
title: "CharCounter"
<script type="module" src="../../../scripts/text/char-counter.js"></script>
<script type="module" src="../../../scripts/text/text.js"></script>
description: "Online tool for char counter"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/text/char-counter"
---
<h1>CharCounter</h1>
<script type="module" src="../../../scripts/text/char-counter.js"></script>
<script type="module" src="../../../scripts/text/text.js"></script>

<p>Welcome to the char counter tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

