---
title: "BrokenLink"
<script type="module" src="../../../scripts/url/broken-link.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>
description: "Online tool for broken link"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/url/broken-link"
---
<h1>BrokenLink</h1>
<script type="module" src="../../../scripts/url/broken-link.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>

<p>Welcome to the broken link tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

