---
title: "Expand"
<script type="module" src="../../../scripts/url/expand.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>
description: "Online tool for expand"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/url/expand"
---
<h1>Expand</h1>
<script type="module" src="../../../scripts/url/expand.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>

<p>Welcome to the expand tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

