---
title: "QrGenerator"
<script type="module" src="../../../scripts/url/qr-generator.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>
description: "Online tool for qr generator"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/url/qr-generator"
---
<h1>QrGenerator</h1>
<script type="module" src="../../../scripts/url/qr-generator.js"></script>
<script type="module" src="../../../scripts/url/url.js"></script>

<p>Welcome to the qr generator tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

