---
title: "ImageMetadata"
<script type="module" src="../../../scripts/image/image-metadata.js"></script>
<script type="module" src="../../../scripts/image/image.js"></script>
description: "Online tool for image metadata"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/image/image-metadata"
---
<h1>ImageMetadata</h1>
<script type="module" src="../../../scripts/image/image-metadata.js"></script>
<script type="module" src="../../../scripts/image/image.js"></script>

<p>Welcome to the image metadata tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

