---
title: "ImageCompressor"
<script type="module" src="../../../scripts/image/image-compressor.js"></script>
<script type="module" src="../../../scripts/image/image.js"></script>
description: "Online tool for image compressor"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/image/image-compressor"
---
<h1>ImageCompressor</h1>
<script type="module" src="../../../scripts/image/image-compressor.js"></script>
<script type="module" src="../../../scripts/image/image.js"></script>

<p>Welcome to the image compressor tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

