---
title: "PdfToWord"
<script type="module" src="../../../scripts/pdf/pdf-to-word.js"></script>
<script type="module" src="../../../scripts/pdf/pdf.js"></script>
description: "Online tool for pdf to word"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/pdf/pdf-to-word"
---
<h1>PdfToWord</h1>
<script type="module" src="../../../scripts/pdf/pdf-to-word.js"></script>
<script type="module" src="../../../scripts/pdf/pdf.js"></script>

<p>Welcome to the pdf to word tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

