---
title: "CssMinifier"
<script type="module" src="../../../scripts/code/css-minifier.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>
description: "Online tool for css minifier"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/code/css-minifier"
---
<h1>CssMinifier</h1>
<script type="module" src="../../../scripts/code/css-minifier.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>

<p>Welcome to the css minifier tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

