---
title: "HtmlEncoder"
<script type="module" src="../../../scripts/code/html-encoder.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>
description: "Online tool for html encoder"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/code/html-encoder"
---
<h1>HtmlEncoder</h1>
<script type="module" src="../../../scripts/code/html-encoder.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>

<p>Welcome to the html encoder tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

