---
title: "RegexTester"
<script type="module" src="../../../scripts/code/regex-tester.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>
description: "Online tool for regex tester"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/code/regex-tester"
---
<h1>RegexTester</h1>
<script type="module" src="../../../scripts/code/regex-tester.js"></script>
<script type="module" src="../../../scripts/code/code.js"></script>

<p>Welcome to the regex tester tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

