---
title: "OnlineTimer"
<script type="module" src="../../../scripts/social/online-timer.js"></script>
<script type="module" src="../../../scripts/social/social.js"></script>
description: "Online tool for online timer"
layout: "../../layouts/ToolLayout.astro"
slug: "tools/social/online-timer"
---
<h1>OnlineTimer</h1>
<script type="module" src="../../../scripts/social/online-timer.js"></script>
<script type="module" src="../../../scripts/social/social.js"></script>

<p>Welcome to the online timer tool. This tool is free to use and optimized for fast performance.</p>

<!-- TODO: Add tool functionality here -->

